$font-stack: Helvetica,
sans-serif;
$textColorGray:#f7f7f7;
$textColorBlack: rgb(16, 16, 17);
$backgroundColorWhite:#f7f7f7;
$backgroundColorBlack:rgb(16, 16, 17);
$textDecoration:none;
$textColorGold:goldenrod;